<p id="notice"><%= notice %></p>

<h4>Category</h4><br>
<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<hr>
<hr>
<h4>Tasks</h4><br>

<div class="well">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" >ID</th>
          <th scope="col" >Name</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          <th colspan="2" scope="col">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @category.tasks.each do |task| %>
          <tr>
            <td><%= task.category_id %></td>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.date.strftime('%b %d %Y') %></td>
            <td><%= link_to 'Delete', [task.category, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>  

<hr>
<hr>

<h4>Add Task</h4><br>

<%= form_for([@category, @category.tasks.build]) do |form| %>

 <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => 'form-control-sm' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, :class => 'form-control-sm' %>
  </div>

 <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, :class => 'form-control-sm' %>
  </div>

  <div class="actions">
    <%= form.submit({:class => 'btn btn-default'}) %>
  </div>

<% end %>